@model List<ResultBannerDto>

<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        @foreach (var item in Model)
        {
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="py-4">
                        <h1 class="display-3 text-white">@item.Title</h1>
                        <p class="fw-normal display-3 text-dark mb-4">@item.SubTitle</p>
                        <p class="mb-4 text-dark">@item.Description</p>
                        <a href="@item.Url" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">@item.UrlLabel</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="@item.ImageUrl" class="img-fluid w-100 rounded" alt="">
                        <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 140px; height: 140px; top: 0; left: 0;">
                            <h1 style="font-size: 100px;">@item.Price1</h1>
                            <div class="d-flex flex-column">
                                <span class="h2 mb-0">@item.Price2$</span>
                                <span class="h4 text-muted mb-0">kg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>