@model List<ResultTestimonialDto>

<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Our Testimonial</h4>
            <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                @foreach (var item in Model)
                {
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">

                            <p class="mb-0">
                                @item.Comment
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="@item.ImageUrl" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">@item.Name</h4>
                                <p class="m-0 pb-3">@item.Title</p>
                                @* <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star"></i>
                                </div> *@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Tastimonial End -->

@* TODO: Yıldız verme revizyonu *@
@* <div class="d-flex pe-5">
    @for (int i = 0; i < item.Rating; i++)
    {
        <i class="fas fa-star text-primary"></i>
    }
    @for (int i = item.Rating; i < 5; i++)
    {
        <i class="fas fa-star"></i>
    }
</div> *@


@* <div class="ms-4 d-block">
    <h4 class="text-dark">@item.Name</h4>
    <p class="m-0 pb-3">@item.Title</p>
    <div class="d-flex pe-5">
        @GenerateStars(item.Rating)
    </div>
</div>

<script>
@functions {
    public string GenerateStars(int rating)
    {
        string stars = "";
        for (int i = 0; i < rating; i++)
        {
            stars += "<i class='fas fa-star text-primary'></i>";
        }
        for (int i = rating; i < 5; i++)
        {
            stars += "<i class='fas fa-star'></i>";
        }
        return stars;
    }
}
</script> *@