@model List<ResultBasketDto>

@{
    int count = 0;
    decimal basketTotalPrice = 0;
    decimal basketTotalPriceWithTax = 0;
    decimal tax = 0;
    decimal taxRate = 0.10m; // Vergi oranı (%10)
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var groupedItems = Model.GroupBy(x => x.ProductId).ToList();
                        foreach (var group in groupedItems)
                        {
                            var item = group.First(); 
                            count++;
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <a href="/Shop/Detail/@item.ProductId">
                                            <img src="@item.ImagePath" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                        </a>
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4">
                                        <a href="/Shop/Detail/@item.ProductId">
                                            @item.ProductName
                                        </a>
                                    </p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">@item.Price $</p>
                                </td>
                                <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <a href="/Basket/DeleteBasket/@item.Id">
                                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <input id="quantity_@item.ProductId" type="text" class="form-control form-control-sm text-center border-0" value="@group.Count()" readonly>
                                        <div class="input-group-btn">
                                            <a href="" onclick="showproductid(@item.Id)">
                                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">@((item.Price * group.Count()).ToString("0.00")) $</p>
                                </td>
                                <td>
                                    <a href="/Basket/DeleteBasket/@item.Id" class="btn btn-md rounded-circle bg-light border mt-4">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            
                            basketTotalPrice += (item.Price * group.Count());
                        }
                        tax = basketTotalPrice * taxRate;
                        basketTotalPriceWithTax = basketTotalPrice + tax;
                    }
                </tbody>

            </table>
        </div>
        <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal:</h5>
                            <p class="mb-0"><b>$@basketTotalPrice</b></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Tax</h5>
                            <div class="">
                                <p class="mb-0">10% Tax Rate: <b>$@tax</b></p>
                            </div>
                        </div>
                        <p class="mb-0 text-end"></p>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4"><b>$@basketTotalPriceWithTax</b></p>
                    </div>
                    <a href="#" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">Proceed Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->
<script>
    $(document).ready(function () {
        $(".btn-minus").click(function () {
            var productId = $(this).data("id");
            var quantityInput = $(this).closest(".quantity").find("input");
            var currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity > 1) {
                quantityInput.val(currentQuantity - 1);
                updateQuantity(productId, currentQuantity - 1);
            }
        });

        $(".btn-plus").click(function () {
            var productId = $(this).data("id");
            var quantityInput = $(this).closest(".quantity").find("input");
            var currentQuantity = parseInt(quantityInput.val());
            quantityInput.val(currentQuantity + 1);
            updateQuantity(productId, currentQuantity + 1);
        });

        function updateQuantity(productId, newQuantity) {
            $.ajax({
                type: "POST",
                url: "/Basket/UpdateBasketQuantity",
                data: { productId: productId, newQuantity: newQuantity },
                success: function () {
                    
                    $("#quantity_" + productId).val(newQuantity);
                    var totalPrice = parseFloat($("#totalPrice_" + productId).text());
                    var updatedTotalPrice = totalPrice / (newQuantity - 1) * newQuantity;
                    $("#totalPrice_" + productId).text(updatedTotalPrice.toFixed(2));
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function showproductid(value) {
            var id = value;
            $.ajax({
                type: 'POST',
                data: { item: id },
                url: "/Shop/AddBasket/" + id,
                contentType: 'json',
                success: function () {
                    swal("", "Seçtiğiniz Ürün Sepete Eklendi!", "success");
                }
            });
        };
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

