@model List<ResultOrderDto>

@{
    ViewData["Title"] = "Index";
    int count = 0;
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Order İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Order Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Order alanıyla ile ilgili işlemleri yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Shop Table Numarası</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Toplam Tutar</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.ShopTableId</td>
                                        <td>@item.Description</td>
                                        <td>@item.OrderDate</td>
                                        <td>@item.Status</td>
                                        <td>@item.TotalPrice</td>
                                        <td><a href="/Admin/Order/DeleteOrder/@item.Id" class="btn btn-outline-danger btn-round">Sil</a></td>
                                        <td><a href="/Admin/Order/ToggleStatus/@item.Id" class="btn btn-outline-dark btn-round">Durumu Değiştir</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>